altgraph==0.17.4
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
charset-normalizer==3.3.2
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.1.7
customtkinter==5.2.2
darkdetect==0.8.0
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
importlib_metadata==8.3.0
joblib==1.4.2
mathparse==0.1.2
nltk==3.8.1
packaging==24.1
pillow==10.4.0
Pint==0.21.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pymongo==3.13.0
pyparsing==3.1.2
python-dateutil==2.7.5
pytz==2024.1
PyYAML==3.13
regex==2024.7.24
requests==2.32.3
six==1.16.0
SQLAlchemy==1.2.19
tqdm==4.66.4
urllib3==2.2.2
whichcraft==0.6.1
zipp==3.20.0
zope.event==5.0
zope.interface==7.0.1
